<div class="container mt-4">
  <h1>Add a movie</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit %>
  <% end %>

  <%= link_to "back", lists_path, class: "btn btn-primary text-decoration-none mt-4" %>
</div>
